*{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
body{
	background-color: #621402;
	color: #fff;
}
.container{
	max-width: 1170px;
	margin: auto;
}
.header{
	min-height: 100vh;
	background:  linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), url('../img/bg.jpg') no-repeat center top / cover;
}
.navbar{
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	align-items: center;
}
.menu{
	list-style: none;
	display: flex;
	margin: 0;
	margin-left: 17px;	
}
.menu-item +.menu-item{
	margin-left: 25px;
}
.menu__link{
	color: white;
	text-decoration: none;
}
.user{
	margin-left: auto;
	display: flex;
	align-items: center;
	color: #fff
}
.user__img{
	width: 33px;
	height: 33px;
	border-radius: 50%;
	margin-left: 11px;
}

.film{
	margin-top: 60px;
	color: #fff;
	display: flex;
	align-items: center;
}
.film-info__small{
font-size: 24px;
line-height: 150%;
opacity: 0.5;
}
.film-info__title{
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	margin-top: 11px;
	margin-bottom: 23px;
}
.film-info__descr{
	font-size: 16px;
	line-height: 150%;
	max-width: 570px;
}
.film-trailer{
	margin: auto;
}
.film-details{
	margin-top: 50px;
	display: flex;
	align-items: center;
}

.film-time{
	display: flex;
	align-items: center;
}
.film-time__icon{
	margin-right: 14px;
}
.film-rating{
	display: flex;
	align-items: center;
	margin-left: 34px;
}
.film-rating__icon{
	margin-right: 14px;
}
.film-rating__text--strong{
	font-size: 24px;
	line-height: 150%;
}




/*SELECT*/
.session{
	margin-top: 62px;
	padding-top: 46px;
	padding-bottom: 64px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.session__label{
	display: block;
	margin-bottom: 20px;
}
.date-block{
	display: flex;
}
.date-item{
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	text-align: center;
	width: 90px;
	height: 90px;
	align-items: center;
	justify-content: center;
	transition: background-color 0.2s;
	cursor: pointer;
}
.date-item +.date-item{
	margin-left: 15px;
}
.date__month{
	font-size: 16px;
	line-height: 19px;
}
.date__day{
	font-weight: bold;
	font-size: 30px;
line-height: 35px;
}
.date__week{
	font-size: 19px;
	line-height: 22px;
}
.date-item:hover{
	background-color: #FE8E05;
	color:#621402;
}
.cinema-select{
	min-width: 470px;
}
.time-select{
	min-width: 108px;
}
.cinema-items{
	min-width: 470px;
}
.time-items{
	min-width: 108px;
}
.select{
	background-color: rgba(255, 255, 255, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	color: #fff;
	padding: 18px;
	cursor: pointer;
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.select-items{
	position: absolute;
	margin-top: 10px;
	opacity:1;
	transition: 0.4s;
}
.select-items--hidden{
	opacity:0;
}
.select__item{
	background-color: rgba(255, 255, 255, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	padding: 18px;
}
.select__item + .select__item{
	margin-top: 5px;
}
.select__item:hover {
	background-color: #FE8E05;
	color:#621402;
}
.select__arrow{
	transition: 0.4s
}
.select__arrow--rotate{
	transform: rotate(180deg);
}

.scheme{
	background-color: rgba(36, 36, 36, 0.18);
	border-radius: 10px;
	margin-bottom: 40px;
}
.scheme path:not(.light){
	fill: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}
.scheme path:not(.light):hover{
	fill: rgba(255, 255, 255, 0.5);
}
.scheme path.booked{
	fill: rgba(255, 255, 255, 0.05);
}
.scheme path.booked:hover{
	fill: rgba(255, 255, 255, 0.05);
	cursor: not-allowed;
}

.legend{
	display: flex;
	align-items: center;
	margin: auto;
	padding-top: 22px;
	padding-bottom: 38px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	max-width: 1024px;

}
.legend-label{
	display: flex;
	align-items: center;

}
.legend-label + .legend-label{
	margin-left: 30px;
}
.legend__text{
	margin-left: 15px;
	color: rgba(255, 255, 255, 0.5);
}
.scheme path.active{
	fill: #FE8E05;
}
.scheme path.active:hover{
	fill: #FE8E05;
	cursor: pointer;
}
.legend-active .legend__text{
	color: #FE8E05;
}
.price{
	padding-top: 20px;
	padding-bottom: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.price__label{
	display: block;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 12px;
}
.price-tag{
	font-size: 52px;
	line-height: 61px;
}

.button{
	display: block;
	background: #FE8E05;
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
	line-height: 21px;
	padding: 24px 52px;
	text-decoration: none;
}